html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

header {
    min-height: 75px;
    margin-bottom: 60px;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 85%;
}

section {
    border-bottom: 1px solid #eee;
    padding-bottom: 60px;
    padding-top: 60px;
}

section.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.links a {
    color: inherit;
    padding: 20px;
}

footer {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
}

a {
    color: #065fd4;
    background-color: transparent;
    text-decoration: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b {
    font-weight: bolder;
}

strong {
    font-weight: bolder;
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
}

kbd {
    font-family: monospace, monospace;
    font-size: 1em;
}

samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

img.circle {
    border-radius: 125px;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
    height: 250px;
    width: 250px;
    margin-bottom: 60px;
    display: inline-block;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
}

button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
}

optgroup {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
}

textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

[type="button"] {
    -webkit-appearance: button;
}

[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="reset"] {
    -webkit-appearance: button;
}

[type="reset"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="submit"] {
    -webkit-appearance: button;
}

[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
    height: auto;
}

[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

div.center {
    text-align: center;
}